.block-type {
   display: flex;
   flex-flow: column;
}
.block-wrapper img{
   width: 200px;

}
.comments-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.block-type {
   display: flex;
   flex-flow: column;
}
.block-wrapper img{
   width: 200px;

}
.comments-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}